

$primary :#92977E;
$secondary : #e6e18f;
$success : #EADDA6;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/fontawesome-free-5.0.9/web-fonts-with-css/scss/fontawesome";
@import "node_modules/fontawesome-free-5.0.9/web-fonts-with-css/scss/fa-solid";



